In [151]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
import time  
import pandas as pd
import re

In [152]:
driver = webdriver.Chrome()

In [5]:
links = []
links.append("https://www.daraz.pk/catalog/?q=mobile&_keyori=ss&from=input&spm=a2a0e.home.search.go.35e34076b1MLh0")
links.append("https://www.daraz.pk/catalog/?_keyori=ss&from=input&page=2&q=mobile&spm=a2a0e.home.search.go.35e34076b1MLh0")
links.append("https://www.daraz.pk/catalog/?_keyori=ss&from=input&page=3&q=mobile&spm=a2a0e.home.search.go.35e34076b1MLh0")
links.append("https://www.daraz.pk/catalog/?_keyori=ss&from=input&page=4&q=mobile&spm=a2a0e.home.search.go.35e34076b1MLh0")
links.append("https://www.daraz.pk/catalog/?_keyori=ss&from=input&page=5&q=mobile&spm=a2a0e.home.search.go.35e34076b1MLh0")

In [6]:
product_link = []
for link in links:
    driver.get(link)
    link_list = driver.find_elements(By.CLASS_NAME , "gridItem--Yd0sa")
    for list in link_list:
        tag = list.find_element(By.TAG_NAME , "a")
        product_link.append(tag.get_attribute("href"))

In [9]:
with open('page.txt', 'w') as file:
    for item in product_link:
        file.write(str(item) + '\n')

In [153]:
file_path = 'page.txt'
with open(file_path, 'r') as file:
    product_link = file.read().splitlines()

In [156]:
name = []
price = []
brand = []
review = []
specs = []
company = []
reviewID = []
score = []

In [ ]:
for i in range(0 , 200):
    driver.get(product_link[i])
    time.sleep(1)
    try:
        l1 = driver.find_element(By.CLASS_NAME , "pdp-mod-product-badge-wrapper")
        l1 = l1.text
        l2 = l1.split(' ')[:4]
        l3 = l1.split(' ')[2:6]
        company.append(''.join(l2[:1]))
        specs.append(' '.join(l3))
        for k, item in enumerate(l2):
            if "GB" in item:
                name.append(' '.join(l2[:k]))
                break
            elif k > 2:
                name.append(' '.join(l2[:2]))
        
    except NoSuchElementException:
        name.append('-')
        company.append('-')
        specs.append('-')
        print("element not found in name")
        pass
    try:
        l1 = driver.find_element(By.CLASS_NAME , "pdp-product-price").text
        price.append(''.join(l1.split('\n')[0]))
    except NoSuchElementException:
        price.append('-')
        print("no element found in price")
        pass
    try:
        l1 = driver.find_element(By.CLASS_NAME , "pdp-product-brand")
        l1 = l1.find_element(By.TAG_NAME , "a").text
        brand.append(l1)
    except NoSuchElementException:
        brand.append('no brand')
        print("no element found in brand")
        pass
    try:
        driver.execute_script("window.scrollTo(800, 1100);")
        time.sleep(1)
        l1 = driver.find_element(By.CLASS_NAME , "review-info").text
        score.append(''.join(l1.split('\n')[0]))
    except NoSuchElementException:
        score.append('-')
        print("no element found in score")
        pass
    try:
        l1 = driver.find_element(By.CLASS_NAME , "review-content")
        l1 = l1.find_elements(By.CLASS_NAME , "review-item")
        str = ''
        for j in l1:
            str+=j.text
        review.append(str)
        reviewID.append("{:03}".format(i+1))
    except NoSuchElementException:
        review.append('-')
        reviewID.append("{:03}".format(i+1))
        print("no element found in review")
        pass

In [144]:
len(name)

149

In [145]:
dict1 = {
    'name': name,
    'price':price,
    'brand':brand,

    'specs':specs,
    'company':company,
    'reviewID':reviewID,
    'score':score,
}
dict2 = {
    'review':review,
    'reviewID':reviewID
}

In [119]:
name.append("Sumsang Note 11")
name.append("Iphone 14 pro max")

In [149]:
import pandas as pd
df = pd.DataFrame(dict2)
df

                                                review reviewID
0    Asb\n6 days ago\n...\nawesome condition...very...      052
1    Abdul H.\n2 weeks ago\n...\nhighly recommend.....      053
2    Zeeshan M.\n5 days ago\n...\nTotally satisfied...      054
3    Asif B.\n7 months ago\n...\nphone is damaged f...      055
4    Muhammad K.\n2 months ago\n...\nIt was an abso...      056
..                                                 ...      ...
144  Khalid H.\n3 weeks ago\n...\nI'm extremely sat...      196
145  Mehboob U.\n2 months ago\n...\noutstanding. sa...      197
146  Muhammad A.\n4 months ago\n...\nAoa Jaisa bola...      198
147                                                  -      199
148                                                  -      200

[149 rows x 2 columns]

In [150]:
df.to_csv('review.csv', mode='a', header=False, index=False)