In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/maaz/Desktop/PAI_Project/csv/new_data_1.csv')

In [84]:
df1 = df[(df['company'] == 'Redmi') ]
df2 = df[(df['company'] == 'Xiaomi') ]
df3 = df[(df['company'] == 'Apple') ]
df4 = df[(df['company'] == 'Techno') ]
df5 = df[(df['company'] == 'Samsung') ]
df6 = df[(df['company'] == 'Vivo') ]
df7 = df[(df['company'] == 'infinx') ]
df8 = df[(df['company'] == 'OPPO') ]
df9 = df[(df['company'] == 'Honor') ]
df10 = df[(df['company'] == 'Sony') ]

In [39]:
df7.fillna(0)

Empty DataFrame
Columns: [name, price, brand, specs, company, reviewID, score, link, num_of_qs, num_of_rev]
Index: []

In [103]:
m1 = df1['num_of_qs'].mean()
m2 = df2['num_of_qs'].mean()
m3 = df3['num_of_qs'].mean()
m4 = df4['num_of_qs'].mean()
m5 = df5['num_of_qs'].mean()
m6 = df6['num_of_qs'].mean()
m7 = df7['num_of_qs'].mean()
m8 = df7['num_of_qs'].mean()
m9 = df7['num_of_qs'].mean()
m10 = df7['num_of_qs'].mean()
m10

nan

In [4]:
df1 = pd.DataFrame(df['name'])

             name
0        Redmi12C
1     RedmiNote12
2      SamsungA14
3     InfinixNote
4        RedmiA2+
..            ...
194    InfinixHot
195  RealmeC51RAM
196  Xiaomi13TPro
197  samsangNote8
198  Infinixsmart

[199 rows x 1 columns]

In [10]:
df1.to_csv('.csv' , index = False)